@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,400&family=Slackside+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#content {
  background-image: url(icons/cloudPattern.jpg);
  background-size: contain;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#content,
::-webkit-input-placeholder,
input {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
}
::-webkit-input-placeholder,
input {
  color: #ecf6ff;
  font-size: 1.1rem;
}
#main {
  background-color: #ecf6ff;
  opacity: 90%;
  padding: 20px 40px;
  margin: 0px 30px 0px 30px;
  border-radius: 15px;
  color: #355070;
}
.searchBarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px;
}
#searchBar {
  position: relative;
  width: 30%;
  min-width: 250px;
  height: 40px;
}

#searchInput {
  padding-left: 25px;
  border-radius: 20px;
  border: none;
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  transition: all 0.3s ease-in-out;
  background-color: #738cbc;
}
#searchInput:hover {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
#searchInput:focus-visible {
  border: none;
  outline: none;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
#submitBtn,
#localWeatherBtn {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
}
#submitBtn {
  right: 55px;
  top: 8px;
}
#localWeatherBtn {
  right: 20px;
  top: 6px;
}
#submitBtn img,
#localWeatherBtn img {
  width: 100%;
  height: auto;
}
#toggleTempBtn {
  background: #738cbc;
  border-radius: 20px;
  padding: 10px;
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  transition: all 0.3s ease-in-out;
  font-size: 1rem;
  color: #ecf6ff;
  font-weight: 700;
}
.toggleTemp.active {
  color: #fcb0b3;
}
#logoName {
  font-size: 2.5rem;
  font-family: "Slackside One", cursive;
}

#forecastContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "todayForecast generalForecast";
  gap: 20px;
}
.weatherCardContainer {
  font-size: 1.1rem;
  grid-area: todayForecast;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.weatherCardContainer .city,
.mainInfoContainer .feelsLike,
.currentMinMax,
.forecastPhrase {
  font-size: 1rem;
  color: rgb(121, 139, 177);
}
.mainInfoContainer {
  display: flex;
  gap: 70px;
  align-items: center;
}
.wrapperTempIcon {
  display: flex;
  align-items: flex-end;
}
.wrapperTempIcon .currentTemp {
  font-size: 6rem;
}
.suppInfoContainer {
  background-color: #738cbc;
  border-radius: 15px;
  color: #ecf6ff;
  padding: 10px;
  max-width: 350px;
}
.forecastContainer {
  grid-area: generalForecast;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.threeDayForecast {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.forecastDayContainer {
  display: flex;
  justify-content: space-between;
  background-color: #738cbc;
  border-radius: 15px;
  color: #ecf6ff;
  padding: 10px;
  align-items: center;
}
.forecastDayContainer .forecastDay {
  min-width: 60px;
}
.iconContainer {
  align-self: center;
}
.forecastDayContainer .iconContainer img {
  width: 45px;
  height: 40px;
}
#footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
}
#footer div {
  background-color: #738cbc;
  opacity: 90%;
  padding: 10px 30px;
  border-radius: 15px;
  color: #ecf6ff;
}
#footer a {
  color: #ecf6ff;
}
@media (max-width: 800px) {
  #main {
    margin: 10px;
    padding: 10px 20px;
  }
  .mainInfoContainer {
    justify-content: center;
  }
  #forecastContainer {
    grid-template-columns: 1fr;
    grid-template-areas:
      "todayForecast"
      "generalForecast";
  }
}
